<section aria-labelledby="your-label" id="your-id">
  <div class="max-w-7xl mx-auto px-8 py-12 lg:px-24">
    <div
      class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-24 items-center pt-12">
      <div>
        <img
          class="w-full -scale-x-100"
          src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
          alt="#"
        />
      </div>
      <dl class="grid grid-cols-1 gap-6 lg:grid-cols-2">
        <div class="lg:col-span-2">
          <h1 class="text-black text-3xl lg:text-6xl font-bold">Hemingway</h1>
          <p class="text-neutral-500 mt-12">
            I am a bestselling author known for my gripping and
            emotionally-charged novels. I was born and raised in a small town in
            the Midwest and always had a passion for writing. As a child, I
            would spend hours scribbling stories in notebooks and dreaming up
            new characters.
          </p>
          <div class="mt-10 flex items-center justify-start">
            <a
              href="/author"
              title="#"
              class="bg-inherit border-2 border-black px-3.5 lg:px-16 py-2.5 lg:py-3 text-xl lg:text-2xl text-black duration-200 hover:bg-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 justify-center focus-visible:outline-white hover:text-white w-full lg:w-auto inline-flex items-center"
              >Get to know me</a
            >
          </div>
        </div>
      </dl>
    </div>
  </div>
</section>
