<section aria-labelledby="your-label" id="your-id">
  <div class="max-w-7xl mx-auto px-8 py-12  lg:px-24">
    <div
      class="grid grid-cols-1 gap-6 items-end md:grid-cols-2 lg:gap-24 border-y py-12">
      <div>
        <h1 class="text-black text-3xl lg:text-6xl font-bold">
          Available for freelance work
        </h1>
        <p class="text-neutral-500 mt-4">
          If you're looking for a freelance designer to help bring an idea to
          life and you're on a tight timeline — let's jam.
        </p>
      </div>
      <div class="flex items-center md:ml-auto">
        <a
          href="/contact"
          title="The Curse of Blackwood Manor"
          class="bg-inherit border-2 border-black px-6 lg:px-16 py-2.5 lg:py-3 text-xl lg:text-2xl text-black duration-200 hover:bg-black inline-flex gap-3 items-center focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white hover:text-white w-auto">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-circle-filled text-green-400"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M7 3.34a10 10 0 1 1 -4.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 4.995 -8.336z"
              stroke-width="0"
              fill="currentColor"></path>
          </svg>
          Contact</a
        >
      </div>
    </div>
  </div>
</section>
