---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <section aria-labelledby="your-label" id="your-id">
    <div class="max-w-7xl mx-auto px-8 py-12 lg:px-24">
      <div class="max-w-xl">
        <h1 class="text-black text-3xl lg:text-5xl font-bold">
          Posts tagged with {tag}
        </h1>
      </div>

      <div class="mt-12">
        {
          posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()).map((post) => (
            <ul role="list">
              <BlogPost
                url={"/posts/" + post.slug}
                title={post.data.title}
                description={post.data.description}
              />
            </ul>
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
