---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const meta = await getCollection("meta");

const hero = meta.find((item) => item.slug === "hero");
const { Content } = await hero?.render();
---

<section aria-labelledby="your-label" id="your-id">
  <div class="max-w-7xl mx-auto px-8 py-12 lg:px-24">
    <div>
      <h1 class="text-black text-2xl lg:text-4xl font-bold">Welcome!</h1>
    </div>

    <div
      class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-24 items-center pt-12"
    >
      <div>
        <Image class="w-full" src="/b-w-profile.jpg" width="496" height="496" alt="Darko's photo" decoding="async"
        loading="lazy" />
      </div>
      <dl class="grid grid-cols-1 gap-6 md:grid-cols-2">
        <div class="md:col-span-2">
          <h1 class="text-black text-3xl lg:text-6xl font-bold">
            {hero?.data.title}
          </h1>
          <div class="text-neutral-500 mt-4 prose text-md">
            <Content />
          </div>
        </div>
        <!-- <div>
          <dt class="text-black font-medium">Name</dt>
          <dd class="text-neutral-500 font-medium flex flex-col">
            <span>Darko Bozhinovski</span>
          </dd>
        </div>
        <div>
          <dt class="text-black font-medium">Birthplace</dt>
          <dd class="text-neutral-500 font-medium flex flex-col">
            <span>London</span>
          </dd>
        </div>
        <div>
          <dt class="text-black font-medium">Education</dt>
          <dd class="text-neutral-500 font-medium flex flex-col">
            <span>The streets</span>
          </dd>
        </div>
        <div>
          <dt class="text-black font-medium">Social</dt>
          <dd class="text-neutral-500 font-medium flex flex-col">
            <a href="https://twitter.com/Mike_Andreuzza">@Mike_andreuzza</a>
          </dd>
        </div> -->
      </dl>
    </div>
  </div>
</section>
