<section aria-labelledby="your-label" id="your-id">
  <div class="max-w-7xl mx-auto px-8 py-12 lg:px-24">
    <h1 class="text-black text-3xl lg:text-9xl font-bold">Error 404</h1>
    <div class="max-w-xl">
      <p class="mt-6 text-neutral-500">
        The requested page could not be found. Please check the URL and try
        again. If you believe this is a mistake, please contact our support
        team.
      </p>
      <div class="mt-10 flex items-center justify-start">
        <a
          href="/"
          title="#"
          class="bg-inherit border-2 border-black px-3.5 lg:px-16 py-2.5 lg:py-3 text-xl lg:text-2xl text-black duration-200 hover:bg-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white hover:text-white w-auto inline-flex items-center"
          >Go back home</a
        >
      </div>
    </div>
  </div>
</section>
