<section aria-labelledby="your-label" id="your-id">
  <div class="max-w-7xl mx-auto px-8 py-12 lg:px-24">
    <div class="max-w-5xl">
      <h1
        class="text-black font-display mt-4 font-semibold text-4xl tracking-tighter">
        Overview
      </h1>
    </div>
    <div>
      <div class="gap-12 grid grid-cols-2 lg:grid-cols-5 md:grid-cols-3 mt-12">
        <div class="mt-10 text-sm" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p class="text-black font-semibold text-xl">Main Pages</p><a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/">Home</a
            >

            <a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/author">Author</a
            >
            <a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/team">Team</a
            >

            <a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/work">Work</a
            >
            <a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/case-study">Case Study</a
            >
            <a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/bookmarks">Bookmarks</a
            >
          </div>
        </div>
        <div class="mt-10 text-sm" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p class="text-black font-semibold text-xl">Memberships</p>
            <a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/membership"
              >Membership
            </a>
            <a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/simple-membership"
              >Simple Membership
            </a>
          </div>
        </div>
        <div class="mt-10 text-sm" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p class="text-black font-semibold text-xl">Blog pages</p><a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/company-blog">Company blog</a
            >
            <a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/personal-blog">Personal Blog</a
            >
            <a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/magazine">Magazine</a
            >
            <a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/posts/1"
              >Blog post
            </a>
            <a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/archive"
              >Archive
            </a>
            <a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/tags"
              >All tags
            </a><a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/tags/HTML"
              >Tag category
            </a><a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/rss.xml"
              >RSS
            </a>
          </div>
        </div><div class="mt-10 text-sm" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p class="text-black font-semibold text-xl">Utility Pages</p><a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/terms"
              >Terms Of use
            </a><a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/privacy"
              >Privacy Policy
            </a><a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/faq">FAQ</a
            >
            <a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/404">404</a
            >
          </div>
        </div><div class="mt-10 text-sm" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p class="text-black font-semibold text-xl">Forms Pages</p><a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/contact"
              >Contact
            </a><a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/signup"
              >Sign up
            </a><a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/sign in"
              >Sing in
            </a>
            <p class="text-black font-semibold text-xl mt-12">System pages</p><a
              class="py-2 text-neutral-500 lg:py-0 mt-2 text-lg hover:text-black duration-200"
              href="/style-guide"
              >Style Guide
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
