<section aria-labelledby="your-label" id="your-id">
  <div class="max-w-7xl mx-auto px-8 py-12 lg:px-24">
    <div>
      <h1 class="text-black text-3xl lg:text-5xl font-bold">Style guide</h1>
    </div>
    <div>
      <div class="lg:mt-32 mt-12">
        <div>
          <p class="text-neutral-500">
            <span class="text-black font-medium block">Typography</span>
            <span class="text-sm">Poppins · IBM Mono</span>
          </p>
        </div>
        <div class="mt-12">
          <div>
            <div class="space-y-6 py-3">
              <div class="grid grid-cols-3 items-start lg:grid-cols-4">
                <div><span class="text-black">Header 1</span></div>
                <div class="col-span-2 lg:col-span-3">
                  <span
                    class="text-black leading-6 text-3xl lg:text-5xl font-bold"
                    >Header 1</span
                  >
                </div>
              </div>
              <div class="grid grid-cols-3 items-start lg:grid-cols-4">
                <div><span class="text-black">Header 2</span></div>
                <div class="col-span-2 lg:col-span-3">
                  <span
                    class="text-black leading-6 text-2xl lg:text-4xl font-bold"
                    >Header 2</span
                  >
                </div>
              </div>
              <div class="grid grid-cols-3 items-start lg:grid-cols-4">
                <div><span class="text-black">Header 3</span></div>
                <div class="col-span-2 lg:col-span-3">
                  <span class="text-black leading-6 text-xl lg:text-3xl"
                    >Header 3</span
                  >
                </div>
              </div>
              <div class="grid grid-cols-3 items-start lg:grid-cols-4">
                <div><span class="text-black">Header 4</span></div>
                <div class="col-span-2 lg:col-span-3">
                  <span class="text-black leading-6 text-lg lg:text-2xl"
                    >Header 4</span
                  >
                </div>
              </div>
              <div class="grid grid-cols-3 items-start lg:grid-cols-4">
                <div><span class="text-black">Link</span></div>
                <div class="col-span-2 lg:col-span-3">
                  <span
                    class="text-black leading-6 text-base hover:text-neutral-500"
                    >Link text</span
                  >
                </div>
              </div>
              <div class="grid grid-cols-3 items-start lg:grid-cols-4">
                <div><span class="text-black">Subtitle</span></div>
                <div class="col-span-2 lg:col-span-3">
                  <span
                    class="text-lg font-semibold leading-6 text-black lg:text-xl"
                    >Subtitle text</span
                  >
                </div>
              </div>
              <div class="grid grid-cols-3 items-start lg:grid-cols-4">
                <div>
                  <span class="text-black">Paragraph</span>
                </div>
                <div class="col-span-2 lg:col-span-3">
                  <span class="text-neutral-500"
                    >I am so happy, my dear friend, so absorbed in the exquisite
                    sense of mere tranquil existence, that I neglect my talents.</span
                  >
                </div>
              </div>
              <div class="grid grid-cols-3 items-start lg:grid-cols-4">
                <div><span class="text-black">Caption</span></div>
                <div class="col-span-2 lg:col-span-3">
                  <span class="text-neutral-500 leading-6 text-xs"
                    >Picture about somethign</span
                  >
                </div>
              </div>
              <div class="grid grid-cols-3 items-start lg:grid-cols-4">
                <div><span class="text-black">Code</span></div>
                <div class="col-span-2 lg:col-span-3">
                  <code class="font-mono">tailwind.config.js</code>
                </div>
              </div>
              <div class="grid grid-cols-3 items-start lg:grid-cols-4">
                <div><span class="text-black">List</span></div>
                <div class="col-span-2 lg:col-span-3">
                  <ul
                    class="text-neutral-500 list-inside space-y-3 font-normal list-disc mt-3"
                    role="list">
                    <li>Access to premium posts</li>
                    <li>Weekly newsletters</li>
                    <li>Simple, secure card payment</li>
                    <li>No Advertising</li>
                    <li>Special discounts</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:mt-32 mt-12">
        <div>
          <p class="text-neutral-500">
            <span class="text-black font-medium block">Main</span>
            <span class="text-sm">Color Palette</span>
          </p>
        </div>
        <div class="grid grid-cols-2 mt-12 gap-2 lg:grid-cols-3">
          <div class="space-y-2">
            <div class="lg:justify-center p-6 bg-white border rounded-lg"></div>
            <div class="lg:justify-center p-6 bg-black border rounded-lg"></div>
          </div>
          <div>
            <div class="lg:justify-center p-6 rounded-t-lg bg-orange-50"></div>
            <div class="lg:justify-center p-6 bg-orange-100"></div>
            <div class="lg:justify-center p-6 bg-orange-200"></div>
            <div class="lg:justify-center p-6 bg-orange-300"></div>
            <div class="lg:justify-center p-6 bg-orange-400"></div>
            <div class="lg:justify-center p-6 bg-orange-500"></div>
            <div class="lg:justify-center p-6 bg-orange-600"></div>
            <div class="lg:justify-center p-6 bg-orange-700"></div>
            <div class="lg:justify-center p-6 bg-orange-800"></div>
            <div class="lg:justify-center p-6 rounded-b-lg bg-orange-900"></div>
          </div>
          <div>
            <div class="lg:justify-center p-6 rounded-t-lg bg-neutral-50"></div>
            <div class="lg:justify-center p-6 bg-neutral-100"></div>
            <div class="lg:justify-center p-6 bg-neutral-200"></div>
            <div class="lg:justify-center p-6 bg-neutral-300"></div>
            <div class="lg:justify-center p-6 bg-neutral-400"></div>
            <div class="lg:justify-center p-6 bg-neutral-500"></div>
            <div class="lg:justify-center p-6 bg-neutral-600"></div>
            <div class="lg:justify-center p-6 bg-neutral-700"></div>
            <div class="lg:justify-center p-6 bg-neutral-800"></div>
            <div class="lg:justify-center p-6 bg-neutral-900"></div>
            <div class="lg:justify-center p-6 rounded-b-lg bg-neutral-950">
            </div>
          </div>
        </div>
      </div>
      <div class="lg:mt-32 mt-12">
        <div>
          <p class="text-neutral-500">
            <span class="text-black font-medium block">Buttons</span>
          </p>
        </div>
        <div class="flex flex-wrap gap-3 mt-12">
          <a
            href="#"
            class="bg-black border-2 border-black px-3.5 justify-center lg:px-16 py-2.5 lg:py-3 text-xl lg:text-2xl text-white duration-200 hover:bg-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white hover:text-black w-full lg:w-auto inline-flex items-center"
            >Primary button</a
          >
          <a
            href="#"
            class="bg-inherit border-2 border-black justify-center px-3.5 lg:px-16 py-2.5 lg:py-3 text-xl lg:text-2xl text-black duration-200 hover:bg-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white hover:text-white w-full lg:w-auto inline-flex items-center"
            >Secondary</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
