<section aria-labelledby="your-label" id="your-id">
  <div class="max-w-7xl mx-auto px-8 py-12 lg:px-24">
    <h1 class="text- text-3xl">Terms of use</h1>
    <div>
      <ol
        role="list"
        class="mt-8 divide-y divide-neutral-300/30 text-base tracking-tight">
        <li
          class="flex justify-between py-3"
          aria-label="Getting started on page 1">
          <span class="font-light text-" aria-hidden="true">Last updated</span
          ><span class="font-mono text-neutral-500" aria-hidden="true"
            >16 March 2023</span
          >
        </li>
        <li
          class="flex justify-between py-3"
          aria-label="Intro to Figma on page 15">
          <span class="font-light text-" aria-hidden="true">Author</span><span
            class="font-mono text-neutral-500"
            aria-hidden="true">Lexington Hemingway</span
          >
        </li>
      </ol>
    </div>
  </div>
</section>
<section>
  <div class="max-w-7xl mx-auto px-8 py-12 lg:px-24">
    <div
      class="hover:prose-a:text-black font-light lg:prose-xl prose prose-a:text-blue-500 prose-blockquote:border-l-black prose-blockquote:text-black prose-bloquote:text-5xl prose-headings:font-medium prose-headings:text-black prose-li:marker:text-black text-neutral-600 prose-pre:border">
      <p>
        Welcome to our website! By using this site, you agree to be bound by the
        following terms and conditions:
      </p>
      <h3>1. Use of Site</h3>
      <p>
        You may use this site for lawful purposes only. You may not use this
        site:
      </p>
      <ul>
        <li>
          in any way that breaches any applicable local, national, or
          international law or regulation
        </li>
        <li>
          in any way that is unlawful or fraudulent, or has any unlawful or
          fraudulent purpose or effect
        </li>
        <li>
          to transmit, or procure the sending of, any unsolicited or
          unauthorized advertising or promotional material or any other form of
          similar solicitation
        </li>
      </ul>
      <h3>2. Intellectual Property</h3>
      <p>
        The content on this site, including but not limited to text, graphics,
        logos, images, and software, is the property of our company or its
        content suppliers and is protected by United States and international
        copyright laws.
      </p>
      <h3>3. Links to Third Party Sites</h3>
      <p>
        This site may contain links to third party websites. These links are
        provided solely as a convenience to you and not as an endorsement by us
        of the contents on such third-party websites. We are not responsible for
        the content of linked third-party sites and do not make any
        representations regarding the content or accuracy of materials on such
        sites.
      </p>
      <h3>4. Limitation of Liability</h3>
      <p>
        In no event shall our company, its officers, directors, employees, or
        agents, be liable to you for any direct, indirect, incidental, special,
        punitive, or consequential damages whatsoever resulting from any (i)
        errors, mistakes, or inaccuracies of content, (ii) personal injury or
        property damage, of any nature whatsoever, resulting from your access to
        and use of our website, (iii) any unauthorized access to or use of our
        secure servers and/or any and all personal information and/or financial
        information stored therein, (iv) any interruption or cessation of
        transmission to or from our website, (v) any bugs, viruses, trojan
        horses, or the like, which may be transmitted to or through our website
        by any third party, or (vi) any errors or omissions in any content or
        for any loss or damage of any kind incurred as a result of your use of
        any content posted, emailed, transmitted, or otherwise made available
        via our website.
      </p>
      <h3>5. Governing Law and Jurisdiction</h3>
      <p>
        These terms of use and any disputes arising out of or relating to these
        terms of use or the use of this site shall be governed by and construed
        in accordance with the laws of the State of California, without giving
        effect to any principles of conflicts of law. Any legal action or
        proceeding relating to your access to or use of this site shall be
        instituted in a state or federal court in California, and you agree to
        submit to the personal jurisdiction of such courts.
      </p>
      <p>
        If you have any questions about these terms of use, please contact us at
        info@ourcompany.com.
      </p>
      <ul>
        <li>
          Access: You may request from us access to your data that we hold on
          you.
        </li>
        <li>
          Rectification: If the data we hold on you is inaccurate, you may
          request that we correct it. If the data we hold is incomplete, you may
          request that we complete it.
        </li>
        <li>
          Erasure: Subject to certain conditions, you may request that we erase
          all of the data we hold on you. li Restrictions: Subject to certain
          conditions, you may request that we restrict the processing of data we
          hold on you.
        </li>
        <li>
          Portability: Subject to certain conditions, you may request that we
          transfer all the data we hold on you to a third party (including
          yourself).
        </li>
        <li>
          Objections: Subject to certain conditions, you may object to us
          processing the data we hold on you.
        </li>
      </ul>
    </div>
  </div>
</section>
