---
import { LOGO_IMAGE, SITE } from "src/config";

import logoPNG from "/assets/logo.png";
import logoSVG from "/assets/logo.svg";

export interface Props {
  activeNav?: "posts" | "tags" | "about" | "search";
}
import { Navigation } from "./Navigation";

---

<header class="bg-root border-b-2 border-primary">
  <div class="nav-container flex justify-end">
    <div class="top-nav-wrap">
      <!-- <a href="/" class="logo">
        {
          LOGO_IMAGE.enable ? (
            <img
              src={LOGO_IMAGE.svg ? logoSVG : logoPNG}
              alt="Darko's Logo"
              width={LOGO_IMAGE.width}
              height={LOGO_IMAGE.height}
            />
          ) : (
            SITE.title
          )
        }
      </a> -->
    </div>
    <nav class="display-none sm:flex">
      <Navigation client:only="solid" />
    </nav>
  </div>
</header>
