<section>
  <div class="max-w-7xl mx-auto px-8 py-12 lg:px-24">
    <div class="max-w-xl text-center lg:text-left">
      <h1 class="text-black text-3xl lg:text-5xl font-bold">
        Tiered membership
      </h1>
      <p class="text-neutral-500 mt-12">
        Experience the ultimate in literary adventures by joining Hemingways
        today, and as a special offer, we're giving you an entire year free!
      </p>
      <p class="mt-10 text-xs leading-5 text-neutral-500">
        *Invoices and receipts available for easy company reimbursement
      </p>
    </div>
    <div class="grid grid-cols-1 items-center gap-12 mt-12 md:grid-cols-3">
      <div class="lg:mt-0 lg:w-full lg:flex-shrink-0 mt-12 h-full">
        <div class="w-full space-y-12 flex flex-col justify-between">
          <div>
            <h3
              class="text-base uppercase font-semibold leading-6 text-black lg:text-2xl">
              Monthly
            </h3>
            <p class="flex items-baseline gap-x-2 mt-3">
              <span class="text-5xl font-bold tracking-tight text-black"
                >$9</span
              >
              <span
                class="text-sm font-semibold leading-6 tracking-wide text-neutral-500"
                >USD</span
              >
            </p>
          </div>
          <ul
            role="list"
            class="text-neutral-500 list-disc list-inside h-full space-y-2">
            <li>AAccess to limited Articles</li>
            <li>Articles with Advertising</li>
            <li>No card required</li>
            <li>Lots of ads</li>
          </ul>
          <div>
            <a
              href="#"
              class="bg-inherit border-2 border-black px-3.5 lg:px-16 py-2.5 lg:py-3 text-xl lg:text-2xl text-black duration-200 hover:bg-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white hover:text-white w-full lg:w-auto inline-flex items-center"
              >Get access</a
            >
          </div>
        </div>
      </div>
      <div class="lg:mt-0 lg:w-full lg:flex-shrink-0 mt-12 h-full">
        <div class="w-full space-y-12 flex flex-col justify-between">
          <div>
            <h3
              class="text-base uppercase font-semibold leading-6 text-black lg:text-2xl">
              Trimestral
            </h3>
            <p class="flex items-baseline gap-x-2 mt-3">
              <span class="text-5xl font-bold tracking-tight text-black"
                >$49</span
              >
              <span
                class="text-sm font-semibold leading-6 tracking-wide text-neutral-500"
                >USD</span
              >
            </p>
          </div>
          <ul
            role="list"
            class="text-neutral-500 list-disc list-inside h-full space-y-2">
            <li>Access to limited Articles</li>
            <li>Weekly newsletters</li>
            <li>Simple, secure card payment</li>
            <li>No Advertising</li>
          </ul>
          <div class="mt-auto">
            <a
              href="#"
              class="bg-black border-2 border-black px-3.5 lg:px-16 py-2.5 lg:py-3 text-xl lg:text-2xl text-white duration-200 hover:bg-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white hover:text-black w-full lg:w-auto inline-flex items-center"
              >Get access</a
            >
          </div>
        </div>
      </div><div class="lg:mt-0 lg:w-full lg:flex-shrink-0 mt-12 h-full">
        <div class="w-full space-y-12 flex flex-col justify-between">
          <div>
            <h3
              class="text-base uppercase font-semibold leading-6 text-black lg:text-2xl">
              Anual
            </h3>
            <p class="flex items-baseline gap-x-2 mt-3">
              <span class="text-5xl font-bold tracking-tight text-black"
                >$99</span
              >
              <span
                class="text-sm font-semibold leading-6 tracking-wide text-neutral-500"
                >USD</span
              >
            </p>
          </div>
          <ul
            role="list"
            class="text-neutral-500 list-disc list-inside h-full space-y-2">
            <li>Access to premium posts</li>
            <li>Weekly newsletters</li>
            <li>No Advertising</li>
            <li>Special discounts</li>
          </ul>
          <div class="mt-auto">
            <a
              href="#"
              class="bg-inherit border-2 border-black px-3.5 lg:px-16 py-2.5 lg:py-3 text-xl lg:text-2xl text-black duration-200 hover:bg-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white hover:text-white w-full lg:w-auto inline-flex items-center"
              >Get access</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
