<section aria-labelledby="your-label" id="your-id">
  <div class="max-w-7xl mx-auto px-8 py-12 lg:px-24">
    <div class="max-w-xl">
      <h1 class="text-black text-3xl lg:text-5xl font-bold">
        Simple membership
      </h1>
      <p class="text-neutral-500 mt-12">
        Experience the ultimate in literary adventures by joining Hemingways
        today, and as a special offer, we're giving you an entire year free!
      </p>
    </div>
    <div
      class="grid grid-cols-1 p-8 lg:p-10 items-center gap-12 mt-12 lg:grid-cols-3 border">
      <div class="xl:flex-auto lg:col-span-2 text-center lg:text-left">
        <h3
          class="text-base uppercase font-semibold leading-6 text-black lg:text-2xl">
          Subscribe to our newsletter
        </h3>
        <p class="mt-6 text-sm md:text-base leading-7 text-neutral-500">
          Join our community and get exclusive access to our latest updates and
          offers. Subscribe now! By subscribing now, you'll get access to our
          premium content, including insightful articles, expert advice, and
          industry-leading tips.
        </p>
      </div>
      <div class="lg:mt-0 lg:w-full lg:flex-shrink-0 mt-12 h-full">
        <div class="w-full text-center">
          <p class="flex items-baseline justify-center gap-x-2">
            <span class="text-5xl font-bold tracking-tight text-black"
              >$499</span
            >
            <span
              class="text-sm font-semibold leading-6 tracking-wide text-neutral-500"
              >USD</span
            >
          </p>
          <div class="mt-12">
            <a
              href="#"
              class="bg-black border-2 border-black px-3.5 lg:px-16 py-2.5 lg:py-3 text-xl lg:text-2xl text-white duration-200 hover:bg-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white justify-center hover:text-black w-full lg:w-auto inline-flex items-center"
              >Get access</a
            >
          </div>
          <p class="mt-10 text-xs leading-5 text-neutral-500">
            Invoices and receipts available <span class="lg:block"
              >for easy company reimbursement</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
