<section aria-labelledby="your-label" id="your-id">
  <div class="max-w-7xl mx-auto px-8 py-12 lg:px-24">
    <div>
      <h1 class="text-black text-3xl lg:text-8xl font-bold">Some of my work</h1>
    </div>
  </div>
</section>
<section aria-labelledby="your-label" id="your-id">
  <div class="max-w-7xl mx-auto px-8 py-12 lg:px-24">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-3">
      <a href="/case-study" class="lg:col-span-2">
        <img
          src="https://cdn.dribbble.com/userupload/3244862/file/original-2fad770cf5e34cbec86bd60d5a4eb815.png?compress=1&resize=1504x1128"
          alt="#"
        />
      </a>
      <div class="flex flex-col justify-between gap-3 lg:gap-0">
        <a href="/case-study">
          <img
            class="aspect-square object-cover"
            src="https://cdn.dribbble.com/users/2212936/screenshots/16291270/media/4be06538404a602605d6af05c4a18cba.png?compress=1&resize=1600x1200&vertical=top"
            alt="#"
          />
        </a>
        <a href="/case-study">
          <img
            class="aspect-square object-cover"
            src="https://cdn.dribbble.com/users/2212936/screenshots/15311568/media/a495067a4c7a3e2566196dd90539f955.png?compress=1&resize=1600x1200&vertical=top"
            alt="#"
          />
        </a>
      </div>
      <div class="flex flex-col justify-between gap-3 lg:gap-0">
        <a href="/case-study">
          <img
            class="aspect-square object-cover"
            src="https://cdn.dribbble.com/userupload/4269145/file/original-c533e5366daed052e3c3236c085acbc7.png?compress=1&resize=1504x1128"
            alt="#"
          />
        </a>
        <a href="/case-study">
          <img
            class="aspect-square object-cover"
            src="https://cdn.dribbble.com/userupload/4060585/file/original-50196bd74b183260e276052e0204e14f.png?compress=1&resize=1504x1128"
            alt="#"
          />
        </a>
      </div>
      <a href="/case-study" class="lg:col-span-2">
        <img
          src="https://cdn.dribbble.com/userupload/6110033/file/original-63b7f627bfe064958017b8d28aa8f787.png?compress=1&resize=2048x1536"
          alt="#"
        />
      </a>
    </div>
  </div>
</section>
<section aria-labelledby="your-label" id="your-id">
  <div class="max-w-7xl mx-auto px-8 py-12 lg:px-24">
    <div
      class="grid grid-cols-1 gap-6 lg:grid-cols-2 items-start lg:gap-24 pt-12"
    >
      <div>
        <h1 class="text-black text-3xl lg:text-7xl font-bold">
          I love to create something simple and clean
        </h1>
      </div>
      <div class="grid grid-cols-1 gap-3 text-neutral-500">
        <p>
          I am a Web Developer currently residing in, Mariehman, Åland Islands,
          a islands within 3000 islands. As a developer, I am fascinated by
          minimalist designs that are highly functional and user-friendly.
        </p><p>
          Design exploration is a passion of mine, and I can spend hours every
          day delving into new ideas and concepts. If you're interested in
          seeing some of my design explorations, you can check out my work on
          Dribbble.
        </p><p>
          In addition to design, I also enjoy writing about my experiences as a
          UI developer on Hemingway. My articles cover a variety of topics,
          including tips for creating faster UI's and how to start a career in
          Web Development.
        </p>

        <p>
          As a hobby, I've recently taken an interest in surfing. If you're
          curious about my surf trips, you can take a look at my work. If you
          have any questions about surf or just want to chat, feel free to send
          me a direct message on Twitter.
        </p>
      </div>
    </div>
  </div>
</section>
