<section aria-labelledby="your-label" id="your-id">
  <div class="max-w-7xl mx-auto px-8 py-12 lg:px-24 lg:py-24 border-b">
    <div class="text-center">
      <div class="max-w-xl mx-auto">
        <h1 class="text-black text-3xl lg:text-5xl font-bold">
          Subscribe to Hemingway!
        </h1>
        <p class="text-neutral-500 mt-4">
          Staying informed on the JavaScript ecosystem has never been so
          entertaining. Delivered every Monday and Thursday, for free.
        </p>
        <form class="border-2 border-black p-2 mt-12 sm:flex">
          <label class="sr-only" for="email-address">Email address</label>
          <input
            autocomplete="email"
            class="text-black bg-transparent border-transparent focus:outline-none focus:ring-2 focus:ring-black lg:text-left placeholder-black px-5 py-3 text-center w-full"
            id="email-address"
            name="email-address"
            placeholder="Enter your email"
            required=""
            type="email"
          />
          <button
            class="text-black font-medium mt-3 border-2 border-black duration-200 flex focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-orange-700 focus:ring-black group hover:bg-black items-center justify-center p-3 sm:flex-shrink-0 sm:ml-3 sm:mt-0 w-full sm:w-auto hover:text-white"
            type="submit">
            &rarr;</button
          >
        </form>
        <div class="mt-6">
          <p class="text-neutral-500">
            Already have an account?
            <a
              href="/signin"
              class="text-black hover:text-neutral-500 duration-200">Sign in</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
