<footer aria-labelledby="your-label" id="your-id">
  <div class="max-w-7xl mx-auto px-8 py-12 lg:px-24">
    <div
      class="flex-col flex lg:flex-row lg:items-center lg:py-16 gap-y-12 items-start justify-between pb-6 pt-16 w-full">
      <div class="w-full">
        <div
          class="items-center lg:justify-btween grid grid-cols-1 md:grid-cols-2 w-full">
          <p class="font-semibold italic lg:text-4xl text-2xl text-black">
            Hemingway.
          </p>
          <p class="max-w-sm mt-1 text-sm text-neutral-500 lg:ml-auto">
            Designed and built in the Åland Islands by Michael Andreuzza.
          </p>
        </div>
        <div
          class="grid grid-cols-2 lg:grid-cols-1 gap-12 py-12 mt-12 border-b">
          <nav class="flex-col flex lg:flex-row gap-8">
            <p class="text-black">Navigation</p>
            <p>
              <a
                class="text-neutral-500 hover:text-black py-2 -mx-3 -my-2 delay-150 hover:delay-[0ms] px-3 relative rounded-lg text-sm transition-colors"
                href="/overview"
                ><span class="relative z-10">Overview</span>
              </a>
            </p>
            <p>
              <a
                class="text-neutral-500 hover:text-black py-2 -mx-3 -my-2 delay-150 hover:delay-[0ms] px-3 relative rounded-lg text-sm transition-colors"
                href="/style-guide"
                ><span class="relative z-10">Style Guide</span>
              </a>
            </p>
            <p>
              <a
                class="text-neutral-500 hover:text-black py-2 -mx-3 -my-2 delay-150 hover:delay-[0ms] px-3 relative rounded-lg text-sm transition-colors"
                href="https://www.lexingtonthemes.com/license"
                ><span class="relative z-10">License</span>
              </a>
            </p>
            <p>
              <a
                class="text-neutral-500 hover:text-black py-2 -mx-3 -my-2 delay-150 hover:delay-[0ms] px-3 relative rounded-lg text-sm transition-colors"
                href="https://lexingtonthemes.com/documentation"
                ><span class="relative z-10">Documentation</span>
              </a>
            </p>

            <p>
              <a
                class="text-neutral-500 hover:text-black py-2 -mx-3 -my-2 delay-150 hover:delay-[0ms] px-3 relative rounded-lg text-sm transition-colors"
                href="#"><span class="relative z-10">Buy Hemingway</span></a
              >
            </p>
          </nav>
          <nav class="flex-col flex lg:flex-row gap-8">
            <p class="text-black">Socials</p>

            <p>
              <a
                class="text-neutral-500 hover:text-black py-2 -mx-3 -my-2 delay-150 hover:delay-[0ms] px-3 relative rounded-lg text-sm transition-colors"
                href="https://twitter.com/lexingtonthemes"
                ><span class="relative z-10">@lexingtonthemes</span>
              </a>
            </p>
            <p>
              <a
                class="text-neutral-500 hover:text-black py-2 -mx-3 -my-2 delay-150 hover:delay-[0ms] px-3 relative rounded-lg text-sm transition-colors"
                href="https://twitter.com/mike_andreuzza"
                ><span class="relative z-10">@Mike_Andreuzza</span>
              </a>
            </p>
            <p>
              <a
                class="text-neutral-500 hover:text-black py-2 -mx-3 -my-2 delay-150 hover:delay-[0ms] px-3 relative rounded-lg text-sm transition-colors"
                href="https://dribbble.com/MichaelAndreuzza.html"
                ><span class="relative z-10">Dribble</span>
              </a>
            </p>
          </nav>
        </div>
      </div>
    </div>
    <div class="flex-col">
      <p class="mt-6 md:mt-0 text-sm text-black">
        © Copyright <span>2023</span>. All rights reserved.
      </p>
    </div>
  </div>
</footer>
